@charset "utf-8";

@import "compass";

$blue: rgb(41, 128, 185);
$gray: rgb(236, 240, 242);
$bgray: rgb(201, 201, 201);
$imgPATH: "../images/";
@mixin fontSet($fFam: H, $fSize: 36px, $fWgt: bold){
	font-family: UD新ゴNT $fFam, "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: $fSize;
	font-weight: $fWgt;
}
@mixin link-opacity {
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
body {
	background-color: $gray;
	color: $blue;
	//font-family: UD新ゴNT H, "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	@include fontSet;
	background-repeat: no-repeat;
}
a{
	@include hover-link;
	@include link-colors($gray, $bgray);
}
h1{
	@include fontSet;
	#top & {
		position: absolute;
		@include fontSet(H, 148px, bold);
	}
	#profile & {
		@include fontSet(DB, 73px, bold);
	}
	.lfooter & {
		@include fontSet(DB, 24px, bold);
		color: $gray;
	}
	.heading & {
		@include fontSet(H, 140px, bold);
	}
}
h2{
	@include fontSet(H, 24px, bold);
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		text-align: center;
	}
}
h3{
	@include fontSet(H, 16px, bold);
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		text-align: center;
		padding-top: 20px;
	}
	#plfRight & {
		text-align: center;
		padding-top: 10px;
	}
	#plfRightTop & {
		padding-bottom: 5px;
	}
}
h4{
	@include fontSet(B, 14px, bold);
	#profile & {
		font-weight: bold;
	}
	#pflLeft & {
		padding-top: 15px;
	}
	.right & {
		line-height: 25px;
	}
}
h5{
	@include fontSet(DB, 14px, bold);
	#profile & {
		font-weight: lighter;
	}
	#pflLeft & {
		padding: 5px 0px 0px 20px;
	}
	#plfRightTop & {
		padding-top: 2px;
	}
}
.blok {
  position: relative;
  top: 70px;
  display: block;
}
#wrapper{
	width: 1280px;
	height: 12535px;
	background-color: #fff;
	/* background-image: linear-gradient($gray, $bgray); */
	margin: 0 auto;
	padding: 55px 40px 0px 40px;
}
#top{
	position: relative;
	width: 1200px;
	height: 705px;
	background-image: url(#{$imgPATH}topfont.png);
	background-size: 1200px auto;
	background-repeat: no-repeat;
	background-position: top;
}
#gNavi{
	padding-top: 90px;
	width: 1200px;
	li{
		list-style:none;
		width:120px;
		float:left;
	}
}
.navi{
	padding: 0 20px;
	z-index: 90;
	margin: 0 auto;
	width: 1200px;
	height: 100px;
	background: rgb(41, 128, 185);
	li{
		list-style: none;
		width: 60px;
		height: 100px;
		float: right;
		&:first-child{
			width: auto;
			float: left;
			//transition: 0.5s;
			a{
				display: inline;
				line-height: 100px;
				@include fontSet(H, 60px, bold);
				@include link-opacity;
				@include link-colors($gray, rgba(236, 240, 242, 0.5));
			}
		}
		a{
			display:block;
			img{
				width: 60px;
				height: 100px;
			}
		}
	}
	.imgset1{
		width: auto;
		height: 50px;
	}
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.pageTop{
	margin: 0;
	padding: 0;
	display: none;
	a{
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: 16px;
		right: 16px;
	}
}
#moveTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	a{
		width: 100px;
		height: 100px;
		display: block;
		transition: 0.5s;
		&:hover{
			opacity: 0.5;
		}
	}
}
.heading{
	margin: 172px 0px 171px 0px;
	width: 1200px;
	height: 210px;
	background-position: center left;
	border-bottom: solid 20px $blue;
}
#head{
	/* &_profile{
		background-image: url(#{$imgPATH}profile.png);
	}
	&_installation{
		background-image: url(#{$imgPATH}installation.png);
	}
	&_softwere{
		background-image: url(#{$imgPATH}softwere.png);
	}
	&_web{
		background-image: url(#{$imgPATH}web.png);
	}
	&_exhibition{
		background-image: url(#{$imgPATH}exhibition.png);
	}
	&_graphic{
		background-image: url(#{$imgPATH}graphic.png);
	}
	&_other{
		background-image: url(#{$imgPATH}other.png);
	} */
}
.contents{
	margin: 0 auto;
	width: 1080px;
}
.left{
	width: 540px;
	float: left;
}
.right{
	width: 540px;
	float: right;
	#installation > & {
		padding-top: 312px;
	}
	#trcd > & {
		padding-top: 454px;
	}
	#hony > & {
		padding-top: 204px;
	}
	#crsh > & {
		padding-top: 478px;
	}
	#sngo > & {
		padding-top: 466px;
	}
	#klid > & {
		padding-top: 368px;
	}
	#tylt > & {
		padding-top: 475px;
	}
	#cggg > & {
		padding-top: 341px;
	}
	#gfds > & {
		padding-top: 428px;
	}
	#neng > & {
		padding-top: 428px;
	}
	#csta > & {
		padding-top: 431px;
	}
}
/* プロフィール */
#profile{
	margin: 0 auto;
	width: 860px;
	height: 640px;
}
#pflLeft{
	width: 320px;
	height: 640px;
	padding-top: 240px;
	background-image: url(#{$imgPATH}prfPic.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 320px auto;
	float: left;
}
#plfLeftLeft{
	float: left;
}
#plfLeftRight{
	float: right;
}
#plfRight{
	width: 540px;
	height: 640px;
	padding: 232px 0px 0px 60px;
	float: right;
}
#plfRightBottom{
	padding-top: 0px;
}
td{
	padding-top: 5px;
}
.exh4{
	@include fontSet(B, 14px, bold);
	text-align: right;
}
.exh5{
	@include fontSet(DB, 14px, lighter);
	padding-left: 10px;
}

/* インスタレーション */
#installation{
	height: 444px;
}
#insta_imgwrap{
	width: 487px;
	/* height: 444px; */
	margin: 0 auto;
	& > .imgset1{
		float: left;
		width: 169px;
		height: 232px;
	}
	& > .imgset2{
		float: right;
		width: 313px;
		height: 232px;
	}
	& > .imgset3{
		margin-top: 6px;
		float: left;
		width: 276px;
		height: 206px;
	}
	& > .imgset4{
		margin-top: 6px;
		float: right;
		width: 206px;
		height: 206px;
	}
}

/* ソフトウェア */
#softwere{
	height: 1199px;
}
#trcd{
	height: 628px;
	&_imgwrap{
		margin: 0 auto;
		width: 392px;
		/* height: 628px; */
		& > .imgset1{
			width: 392px;
			height: 306px;
		}
		& > .imgset2{
			float: left;
			margin-top: 6px;
			width: 178px;
			height: 316px;
		}
		& > .imgset3{
			float: right;
			margin-top: 6px;
			width: 209px;
			height: 316px;
		}
	}
}
#hony{
	margin: 235px 0px 0px 0px;
	height: 336px;
	&_imgwrap{
		margin: 0 auto;
		width: 331px;
		& > .imgset1{
			width: 331px;
			height: 336px;
		}
	}
}

/* ウェブ */
#crsh{
	height: 598px;
	&_imgwrap{
		margin: 0 auto;
		width: 465px;
		& > .imgset1{
			margin: 6px 0px 0px 0px;
			width: 465px;
			height: 290px;
		}
		& > .imgset2{
			margin: 6px 0px 0px 0px;
			float: left;
			width: 226px;
			height: 145px;
		}
		& > .imgset3{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
		}
		& > .imgset4{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 226px;
			height: 145px;
		}
		& > .imgset5{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
		}
	}
}
#sngo{
	margin-top: 235px;
	height: 598px;
	&_imgwrap{
		margin: 0 auto;
		width: 465px;
		& > .imgset1{
			margin: 6px 0px 0px 0px;
			width: 465px;
			height: 290px;
		}
		& > .imgset2{
			margin: 6px 0px 0px 0px;
			float: left;
			width: 226px;
			height: 145px;
		}
		& > .imgset3{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
		}
		& > .imgset4{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 226px;
			height: 145px;
		}
		& > .imgset5{
			margin: 6px 0px 0px 0px;
			float: right;
			width: 226px;
			height: 145px;
		}
	}
}

/* エキシビション */
#klid{
	height: 497px;
	&_imgwrap{
		margin: 0 auto;
		width: 519px;
		& > .imgset1{
			width: 519px;
			height: 264px;
		}
		& > .imgset2{
			float: left;
			margin: 6px 0px 0px 0px;
			width: 254px;
			height: 227px;
		}
		& > .imgset3{
			float: right;
			margin: 6px 0px 0px 0px;
			width: 259px;
			height: 103px;
		}
		& > .imgset4{
			float: right;
			margin: 5px 0px 0px 0px;
			width: 259px;
			height: 118px;
		}
	}
}
#tylt{
	margin-top: 235px;
	height: 629px;
	&_imgwrap{
		margin: 0 auto;
		width: 502px;
		height: 629px;
		& > .imgset1{
			float: left;
			width: 200px;
			height: 629px;
		}
		& > .imgset2{
			float: right;
			width: 297px;
			height: 225px;
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 146px;
			height: 146px;
		}
		& > .imgset4{
			margin: 5px 5px 0px 0px;
			float: right;
			width: 146px;
			height: 146px;
		}
		& > .imgset5{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 297px;
			height: 247px;
		}
	}
}

/* グラフィック */
#cggg{
	height: 470px;
	&_imgwrap{
		margin: 0 auto;
		width: 470px;
		height: 470px;
		& > .imgset1{
			float: left;
			width: 232px;
			height: 232px;
		}
		& > .imgset2{
			float: right;
			width: 232px;
			height: 232px;
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			float: left;
			width: 232px;
			height: 232px;
		}
		& > .imgset4{
			margin: 5px 0px 0px 0px;
			float: right;
			width: 232px;
			height: 232px;
		}
	}
}
#gfds{
	height: 557px;
	margin-top: 235px;
	&_imgwrap{
		margin: 0 auto;
		width: 400px;
		height: 557px;
		& > .imgset1{
			width: 398px;
			height: 557px;
		}
	}
}
#neng{
	margin-top: 235px;
	height: 557px;
	&_imgwrap{
		margin: 0 auto;
		width: 400px;
		height: 557px;
		& > .imgset1{
			width: 398px;
			height: 557px;
		}
	}
}

/* アザー */
#csta{
	height: 560px;
	&_imgwrap{
		margin: 0 auto;
		height: 560px;
		width: 403px;
		& > .imgset1{
			/* width: 403px; */
			height: 269px;
			/* background-image: url(#{$imgPATH}cstphoto1.png); */
			background-size: 403px auto;
		}
		& > .imgset2{
			margin: 5px 0px 0px 0px;
			width: 187px;
			height: 140px;
			/* background-image: url(#{$imgPATH}cstphoto2.png); */
			/* background-size: 187px auto; */
		}
		& > .imgset3{
			margin: 5px 0px 0px 0px;
			width: 187px;
			height: 139px;
			float: left;
			/* background-image: url(#{$imgPATH}cstphoto3.png); */
			/* background-size: 187px auto; */
		}
		& > .imgset4{
			margin: 5px 0px 0px 0px;
			/* width: 210px; */
			height: 285px;
			float: right;
			/* background-image: url(#{$imgPATH}cstphoto4.png); */
			/* background-size: 210px auto; */
		}
	}
}

/* フッター */
#gfooter{
	width: 1280px;
	height: 372px;
	margin: 0 auto;
	background-color: $blue;
	padding: 0px 40px;
	li {
		list-style: none;
	}
}
#footicon{
	width: 291px;
	height: auto;
}
.lfooter{
	width: auto;
	height: 222px;
	padding: 60px 100px 0px 0px;
	float: left;
}
.homefooter{
	@include fontSet(H, 31px, bold);
	width: 291px;
	height: auto;
	margin-right: 191px;
	padding: 60px 0px 0px 0px;
	float: left;
}
.footerlink{
	@include fontSet(M, 24px, bold);
	padding-top: 5px;
	line-height: 35px;
	& img{
		padding-top: 10px;
	}
}
